<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h1 class="mat-h1">Hello {{name}}</h1>
            
        </div>
        <img src="https://cdn.iconscout.com/icon/premium/png-512-thumb/teacher-114-686443.png" alt="Trainer_Image">
    </div>
    
    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2> 

    <a mat-list-item routerLinkActive="list-item-active" routerLink="trainermyprofile"> My Profile</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="mycalendar"> My Calendar</a>
    
    
    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>
