<div class="row">
    <div class="col-lg-12">
        <span>
            <h1 class="mat-h1">Trainers</h1>
        </span>
        
    </div>
</div>
<mat-divider></mat-divider>
<br>

<div class="container" *ngFor="let t of trainers">
    <div class="card flex-row flex-wrap">
        <div class="card-header border-0">
            <img src="https://png.pngtree.com/png-vector/20190321/ourmid/pngtree-vector-users-icon-png-image_856952.jpg" alt="">
        </div>
        <div class="card-block px-2">
            <h1 class="card-title">{{t.trainer_name}}</h1>
            <ul>
                <li>Id - {{t.trainer_id}}</li>
                <li>Email - {{t.trainer_email}}</li>
                <li>Primary Skill - {{t.trainer_primary_skill}}</li>
                <li>Certifications - {{t.trainer_certifications}}</li>
            </ul>
                        
        </div>
        <div class="w-100"></div>
        <div class="card-footer w-100 text-muted">
            Ongoing Course- {{t.course_name}}
        </div>
    </div>
    <br>
</div>