<!-- <div class="row">
    <div class="col-lg-12">
        <span>
            <h1 class="mat-h1">My Profile</h1>
        </span>
    </div>
</div>
<mat-divider></mat-divider> -->

<div class="container emp-profile">
        <div class="row">
            <div class="col-md-10">
                <div class="profile-head">
                            <h1>
                                Sameera Deo
                            </h1>
                            <h5>
                                Senior Training Specialist
                            </h5>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">More Details</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary">Edit Profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Trainer Id</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>2</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Sameera Deo</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>sameera_deo@persistent.com</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>123 456 7890</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Ongoing Training</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Microsoft Azure</p>
                                    </div>
                                </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Primary Skill</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Microsoft Azure</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Certifications</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Java, Microsoft Azure Administrator Associate</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Upgradation Plan</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>Azure AI</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Upgradation Timeline</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p>31-01-21</p>
                                    </div>
                                </div>
                    </div>
                </div>
            </div>
        </div>          
</div>
