<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Admin</h2>
            
        </div>
        <img src="https://png.pngtree.com/png-vector/20190301/ourlarge/pngtree-vector-administration-icon-png-image_747092.jpg" alt="Admin_Image">
        <h5>Sanghmitra Tamrakar</h5>
    </div>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Pages</h2>  -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="dashboard">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="courses">Trainings</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="trainerprofile">Trainers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="meetings">Calendars</a>
    <!-- <a mat-list-item routerLinkActive="list-item-active" routerLink="contactus">Contact Us</a> -->
    
    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>