<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h1>Hello {{name}}</h1>
            
        </div>
        <img src="https://www.clipartkey.com/mpngs/m/118-1188761_avatar-cartoon-profile-picture-png.png" alt="User_Image">
    </div>

    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Pages</h2>  -->

    <a mat-list-item routerLinkActive="list-item-active" routerLink="ongoingCourses">Ongoing Trainings</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="mycourses">My Trainings</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="trainerforuser">Trainers</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="contactus">Contact Us</a>
    
    <mat-divider></mat-divider>

    <!-- <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contacts
    </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>contact_phone</mat-icon>
        Leads
    </a> -->

</mat-nav-list>
