
<div class="row">
    <div class="col-lg-12">
        <h1 class="mat-h1">Trainers 
            <button id="add-btn"class="btn btn-dark float-right" (click)=openModal()>Add Trainer</button>
        </h1>
    </div>
</div>

<br>
<div>
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Trainer Name</th>
            <th>Course Name</th>
            <th>Email</th>
        </tr>
      
        <tr *ngFor="let c of trainers">
            <td>{{c.trainer_id}}</td>
            <td>{{c.trainer_name}}</td>
            <td>{{c.course_name}}</td> 
            <td>{{c.trainer_email}}</td>    
            <!-- <button mat-button (click)="gotoProfile()"> More</button> -->
            <!-- <td><a routerLink="trainerprofile">Child B</a></td> -->

            <td>
                <p>
                    <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                      More Details
                    </a>
                </p>
                  <div class="collapse" id="collapseExample">
                    <div class="card card-body">
                      {{c.trainer_email}} Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veritatis dicta assumenda! Laboriosam, error quasi molestias nemo, architecto repudiandae quo incidunt, numquam veritatis ipsam corporis possimus provident harum unde consectetur!
                    </div>
                  </div>
            </td>
            <td><button class="btn btn-primary">Edit</button></td>
            <td><button class="btn btn-outline-danger"(click)="delete_trainer(c.trainer_id)">Delete</button></td>

        </tr>
        
    </table>
</div>

    
